# string  [The environment the application is running in]
NODE_ENV=development

# boolean  [Enable swagger]
SWAGGER=false

# string  [The global prefix of the application]
GLOBAL_PREFIX=api/v1

# number  [The port the application will listen to]
PORT=3000

# string  [The level of logging]
LOG_LEVEL=info

